{% extends "home/base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'home/blog.css' %}">

    <button class="btn-hover color-9" id="floater">EDIT</button>
    <section class="cards-wrapper">
    <div class="card-grid-space">
        <div class="num">01</div>
        <a class="card" href="#" style="--bg-img: url('')">
        <div>
            <h1>Blog Title</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione mini...</p>
            <div class="date">DD Mon YYYY</div>
            <div class="tags">
            <div class="tag">Category</div>
            </div>
        </div>
        </a>
    </div>
    <div class="card-grid-space">
        <div class="num">02</div>
        <a class="card" href="#" style="--bg-img: url('')">
        <div>
            <h1>Blog Title</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione mini...</p>
            <div class="date">DD Mon YYYY</div>
            <div class="tags">
            <div class="tag">Category</div>
            </div>
        </div>
        </a>
    </div>
    <div class="card-grid-space">
        <div class="num">03</div>
        <a class="card" href="#" style="--bg-img: url('')">
        <div>
            <h1>Blog Title</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione mini...</p>
            <div class="date">DD Mon YYYY</div>
            <div class="tags">
            <div class="tag">Category</div>
            </div>
        </div>
        </a>
    </div>
    <div class="card-grid-space">
        <div class="num">04</div>
        <a class="card" href="#" style="--bg-img: url('')">
            <div>
                <h1>Blog Title</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione mini...</p>
            <div class="date">DD Mon YYYY</div>
            <div class="tags">
                <div class="tag">Category</div>
            </div>
            </div>
        </a>
        </div>
    </section>
    <div id="footer">
        <ul class="socialCol">
            <li><a href="javascript:void(0)"><img src="{% static 'media/fb.svg' %}" alt="..."></a></li>
            <li><a href="javascript:void(0)"><img src="{% static 'media/insta.svg' %}" alt="..."></a></li>
            <li><a href="javascript:void(0)"><img src="{% static 'media/twitter.svg' %}" alt="..."></a></li>
            <li><a href="javascript:void(0)"><img src="{% static 'media/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
              <p>Copyright ©2023 All rights reserved. Designed by <a href="https://www.linkedin.com/in/harsh-jaiswal-2307/" target="_blank">Harsh Jaiswal</a> Using Django</p>
        </div>
    </div>
{% endblock content %}