{% extends "home\base.html" %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'home/edit_home.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <button class="btn btn-outline-info save-data-btn" type="submit">Save Updates</button>
    </div>
    <br><br>
    <!-- FORM 1 -->
    <div class="card profile-card">
        <div class="row">
            <div class="col-3 heading-1"><strong>Personal Details</strong></div>
            <div class="col-8">
                <div class="form-floating mb-3">
                    <input id="floatingInput firstname" type="text" name="firstname" value="{{ requested_user_profile.firstname }}" class="form-control" placeholder="First Name*" style="width: 100%;">
                    <label for="firstname" class="form_label">First Name*</label>
                </div>
                <div class="form-floating mb-3">
                    <input id="floatingInput lastname" type="text" name="lastnmame" value="{{ requested_user_profile.lastname }}" class="form-control" placeholder="Last Name*">
                    <label for="lastname" class="form_label">Last Name*</label>
                </div>
                <div class="form-floating mb-3">
                    <input id="floatingInput username" type="text" name="username" value="{{ requested_user.username }}" class="form-control" placeholder="Username*">
                    <label for="username" class="form_label">Username*</label>
                </div>
                <div class="form-floating mb-3">
                    <input id="floatingInput phonenumber" type="phonenumber" name="phonenumber" value="{{ requested_user_profile.phonenumber }}" class="form-control" placeholder="Mobile No.*">
                    <label for="phonenumber" class="form_label">Mobile No*</label>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript" src="{% static 'home/edit_home.js' %}"></script>
<br><br>

<div id="footer">
    <ul class="socialCol">
        <li><a href="javascript:void(0)"><img src="{% static 'media/fb.svg' %}" alt="..."></a></li>
        <li><a href="javascript:void(0)"><img src="{% static 'media/insta.svg' %}" alt="..."></a></li>
        <li><a href="javascript:void(0)"><img src="{% static 'media/twitter.svg' %}" alt="..."></a></li>
        <li><a href="javascript:void(0)"><img src="{% static 'media/linkedin.svg' %}" alt="..."></a></li>
    </ul>
    <div class="copyrightCol">
          <p>Copyright ©2023 All rights reserved. Designed by <a href="https://www.linkedin.com/in/harsh-jaiswal-2307/" target="_blank">Harsh Jaiswal</a> Using Django</p>
    </div>
</div>

{% endblock content %} 