{% extends "home/base.html" %}
{% load static %}


{% block content %}
{% if user.is_authenticated %}
    <a href="{% url 'home:edit_home' %}"><button class="btn-hover color-9" id="floater">EDIT</button></a>
    <!--url 'home:edit-home'-->
    <div class="main-content">
        <!--INTRO-->
        <div class="row">
            <div class="col-8">
                <p class="intro">Hi, I'm Harsh,<br> a back-end Developer</p>
                <p class="bio">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, sed, itaque reiciendis quos eligendi ab aut veritatis ad sit placeat inventore voluptates voluptatibus nisi sequi. Ea rem quam excepturi accusamus?</p>
                <button type="button" class="btn-download">Download Resume</button>
                <button type="button" class="btn-contact">Contact</button>
           </div>
            <div class="col-4">
                <img src="{% static 'media/profile-pic.jpg' %}" id="user-img">
                <div class="github-linkedin">
                    <img class="linkedin" src="{% static 'media/linkedin.svg' %}" alt="linkedin_link">
                    <img class="github" src="{% static 'media/github.svg' %}" alt="github_link">
                </div>
            </div>
        </div>
        <hr>
        <!--SKILLS AND COURSEWORK-->
        <div class="skill-coursework">
            <div class="row">
                <div class="col-7 skill">
                    <h4>Coding Skills</h4>
                    <div class="row row-cols-3 justify-content-md-center">
                        <div class="col sk"><img src="{% static 'media/sample.jpg' %}" alt="skill1"></div>
                        <div class="col sk"><img src="{% static 'media/sample.jpg' %}" alt="skill1"></div>
                        <div class="col sk"><img src="{% static 'media/sample.jpg' %}" alt="skill1"></div>
                        <div class="col sk"><img src="{% static 'media/sample.jpg' %}" alt="skill1"></div>
                        <div class="col sk"><img src="{% static 'media/sample.jpg' %}" alt="skill1"></div>
                    </div>
                </div>
                <div class="col-5 course">
                    <div class="card">
                        <h4>CourseWork</h4>
                        <ul class="custom">
                            <li>List item 1</li>
                            <li>List item 2</li>
                            <li>List item 3</li>
                            <li>List item 4</li>
                            <li>List item 5</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <!--CERTIFICATES-->
        <div class="card crd-certificates">
            <div class="card-body crd-certi-body">
                <h4>Certificates</h4>
                <br>
                <div class="row">
                    <div class="col-1"><img src="{% static 'media/sample.jpg' %}"></div>
                    <div class="col-11 about-certi">
                        <h6>Program Name</h6>
                        <small>Platform Name</small><br>
                        <small id="date-id">Issued Date</small><br>
                        <small id="date-id">Certificate ID</small>
                        <button type="button" id="certificate-url">View Certificate</button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-1"><img src="{% static 'media/sample.jpg' %}"></div>
                    <div class="col-11 about-certi">
                        <h6>Program Name</h6>
                        <small>Platform Name</small><br>
                        <small id="date-id">Issued Date</small><br>
                        <small id="date-id">Certificate ID</small>
                        <button type="button" id="certificate-url">View Certificate</button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-1"><img src="{% static 'media/sample.jpg' %}"></div>
                    <div class="col-11 about-certi">
                        <h6>Program Name</h6>
                        <small>Platform Name</small><br>
                        <small id="date-id">Issued Date</small><br>
                        <small id="date-id">Certificate ID</small>
                        <button type="button" id="certificate-url">View Certificate</button>
                    </div>
                </div>
                <hr>
                <p class="text-center"><a href="#">View All</a></p>
            </div>
        </div>
        <!-- PROJECTS -->
        <div class="card projects">
            <div class="card-body">
                <h4>Projects <strong><small><a href="#">View All</a></small></strong></h4>
                <div class="project-details">
                    <h5>Name of Project</h5>
                    <small id="date-id">Duration of working</small>
                    <button type="button" id="see-project">See Project</button>
                    <p>About the project: Lorem ipsum dolor sit, amet consectetur adipisicin...</p>
                </div>
                <div class="project-details">
                    <h5>Name of Project</h5>
                    <small id="date-id">Duration of working</small>
                    <button type="button" id="see-project">See Project</button>
                    <p>About the project: Lorem ipsum dolor sit, amet consectetur adipisicin...</p>
                </div>
                <div class="project-details">
                    <h5>Name of Project</h5>
                    <small id="date-id">Duration of working</small>
                    <button type="button" id="see-project">See Project</button>
                    <p>About the project: Lorem ipsum dolor sit, amet consectetur adipisicin...</p>
                </div>
            </div>
        </div>

        <!--RECENT POSTS-->
        <div class="recent-posts">
            <h4>Recent Posts <strong><small><a href="#">View All</a></small></strong></h4>
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 19rem;">
                        <a href="#">
                            <div class="card-body">
                                <h5 class="card-title" id="post-title"><strong>Post Title</strong></h5>
                                <br><br>
                                <p class="card-subtitle mb-2 text-muted" id="dated">DD/MM/YYYY | Category</p>
                                <p class="card-text" id="post-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, perferendis. Cupiditate neque recusandae deserunt unde modi.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 19rem;">
                        <a href="#">
                            <div class="card-body">
                                <h5 class="card-title" id="post-title"><strong>Post Title</strong></h5>
                                <br><br>
                                <p class="card-subtitle mb-2 text-muted" id="dated">DD/MM/YYYY | Category</p>
                                <p class="card-text" id="post-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, perferendis. Cupiditate neque recusandae deserunt unde modi.</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
<section class="user-logout-view">
    <p>Welcome to Build My Resume</p>
</section>
{% endif %}

<footer>
    <div class="footerCol">
      <div class="container">
        <ul class="socialCol">
          <li><a href="javascript:void(0)"><img src="{% static 'media/fb.svg' %}" alt="..."></a></li>
          <li><a href="javascript:void(0)"><img src="{% static 'media/insta.svg' %}" alt="..."></a></li>
          <li><a href="javascript:void(0)"><img src="{% static 'media/twitter.svg' %}" alt="..."></a></li>
          <li><a href="javascript:void(0)"><img src="{% static 'media/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
          <p>Copyright ©2022 All rights reserved. Designed by <a href="https://www.linkedin.com/in/harsh-jaiswal-2307/" target="_blank">Harsh Jaiswal</a> Using Django</p>
        </div>
      </div>
    </div>
  </footer>
{% endblock content %}

