{% extends "home/base_layout.html" %}
{% load static %}
{% block title %}<title>BMR | MyResume</title>{% endblock title %}
{% block content %}
    <div class="resumes">
        {% for resume in resumes %}
            <div class="card mb-3 resume-card card" style="width: 500px;">
                <div class="container row g-0">
                    <div class="col-md-4">
                        <img src="{% static 'home/images/resume.png' %}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title resume-name">{{ resume.resume_name }}</h5>
                            <p class="card-text">Created On {{ resume.created_at }}</p>
                            <div class="delete-edit-view">
                                <a href="{% url 'home:delete-resume' pk=resume.id %}" class="delete-resume"><button>Delete</button></a>
                                <a href="{% url 'home:edit-resume' pk=resume.id %}" class="edit-resume"><button>Update</button></a>
                                <a href="{% url 'home:choose' pk=resume.id %}" class="view-resume"><button>View</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="empty-resume-bucket">
                <img src="{% static 'home/images/empty-folder.png' %}" class="centered">
                <p class="empty-resume-bucket-text"><b>You don't have any resumes</b></p>
            </div>
        {% endfor %}
    </div>
    <div class="create-resume-btn">
        <a href="{% url 'home:create-resume' %}"><button>Create Resume</button></a>
    </div>
{% endblock content %}
