<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BMR: {{ resume.resume_name }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>
<style>
    table { font-family: 'Times New Roman', Times, serif; text-align: justify; }

    tr { margin-top: 0; padding-top: 0; padding-bottom: 0; margin-bottom: 0; }

    .name { font-size: 30px; text-align: center; }

    .position { font-size: 14px; text-align: center; }

    .contact { font-size: 17px; text-align: center; }

    .social-links { font-size: 17px; text-align: center; border-bottom: #000000 solid; }

    .title { padding-top: 5px; font-size: 20px; font-weight: 500; text-align: left; padding-bottom: 0; }

    .metadata2 { padding-bottom: 15px; }

    .major { display: inline-block; font-size: 15px; }

    .grade { display: inline-block; font-size: 15px; }

    .subtitle { display: inline-block; font-size: 19px; font-weight: bold; }

    .subtitle-metadata { display: inline-block; font-size: 17px; }

    .dates { display: inline-block; font-size: 17px; }

    .description { font-size: 14px; }
</style>

<body>
    <table>
        <tr class="name">
            <th>{{ resume.user.first_name }} {{ resume.user.last_name }}</th>
        </tr>
        <tr class="position">
            <td>{{ resume.user.profile.position }}</td>
        </tr>
        <tr class="contact">
            <td>{{ resume.user.profile.phonenumber }} • {{ resume.user.email }}</td>
        </tr>
        <tr class="social-links">
            <td>
                {% if resume.user.profile.linkedin %}
                <a href="{{ resume.user.profile.linkedin }}" target="_blank"
                    style="color: #808E9B;"><span>LinkedIn</span></a>&nbsp;•&nbsp;
                {% endif %}
                {% if resume.user.profile.github %}
                <a href="{{ resume.user.profile.github }}" target="_blank"
                    style="color: #808E9B;"><span>GitHub</span></a>
                {% endif %}
            </td>
        </tr>
        <tr class="title">
            <td>EDUCATION</td>
        </tr>
        <tr>
            <td>
                <ul>
                    {% for education in resume.education_set.all %}
                    <li>
                        <div class="subtitle">{{ education.school }}</div>
                        <div class="subtitle-metadata">{{ education.degree }} • {{ education.university }} •
                            <i>{{ education.start_date|date:'M Y' }} - {{ education.end_date|date:'M Y' }}</i></div>
                        <ul>
                            <table>
                                <tr style="padding-bottom: 5px;">
                                    <td>
                                        <div class="major">Major: {{ education.major }}</div>
                                    </td>
                                    <td style="margin-left: 80px;">
                                        <div class="grade">Grade: {{ education.grade }}</div>
                                    </td>
                                </tr>
                            </table>
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr class="title">
            <td>SKILLS AND COURSEWORK</td>
        </tr>
        <tr>
            <td>
                <table style="font-size: 15px; margin-left: 20px;">
                    <tr>
                        <td>
                            <ul>
                                {% for skill in resume.skill_set.all %}
                                <li>{{ skill.skill_name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <ul>
                                {% for cw in resume.coursework_set.all %}
                                <li>{{ cw.coursework_name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="title">
            <td>EXPERIENCE</td>
        </tr>
        <tr>
            <td>
                <ul>
                    {% for experience in resume.experience_set.all %}
                    <li>
                        <table>
                            <tr>
                                <td>
                                    <div class="subtitle">{{ experience.position }}&nbsp;</div>
                                    <div class="subtitle-metadata">at {{ experience.company }},
                                        {{ experience.city }}&nbsp;</div>
                                </td>
                                <td style="margin-left: 120px;">
                                    <div class="dates"><i>{{ experience.start_date|date:'M Y' }} -
                                            {{ experience.end_date|date:'M Y' }}</i></div>
                                </td>
                            </tr>
                        </table>
                        <ul>
                            <p class="description">{{ experience.description }}</p>
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% with count=0 %}
        <tr class="title">
            <td>PROJECTS</td>
        </tr>
        <tr>
            <td>
                <ul>
                    {% for project in resume.project_set.all %}
                    <li>
                        <table>
                            <tr>
                                <td>
                                    <div class="subtitle">{{ project.project_name }}</div>
                                    <div class="subtitle-metadata">| {{ project.stack_name }}</div>
                                </td>
                                <td style="font-size: 17px; margin-left: 100px;">
                                    {% if project.project_link %}
                                    [<a href="{{ project.project_link }}" target="_blank"
                                        style="color: #808E9B;">Link</a>]</p>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="dates"><i>{{ project.start_date|date:'M Y' }} -
                                            {{ project.end_date|date:'M Y' }}</i></div>
                                </td>
                            </tr>
                        </table>
                        <ul>
                            <p class="description">{{ project.description }}</p>
                        </ul>
                    </li>
                    {% with count=forloop.counter %}
                    {% endwith %}
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endwith %}
        {% if count < 3 %}
        <tr class="title">
            <td>CERTIFICATES</td>
        </tr>
        <tr>
            <td>
                <ul>
                    {% for certi in resume.certificate_set.all %}
                    <table>
                        <tr>
                            <td>
                                <div class="subtitle">{{ certi.program_name }}&nbsp;</div>
                                <div class="subtitle-metadata"> | {{ certi.platform_name }}&nbsp;</div>
                            </td>
                            <td style="margin-left: 100px;">
                                <div class="dates"><i>{{ certi.issued_date|date:'M Y' }} &nbsp;</i></div>
                            </td>
                            <td style="margin-left: 120px; font-size:17px;">
                                {% if certi.certificate_url %}
                                [<a href="{{ certi.certificate_url }}" target="_blank"
                                    style="color: #808E9B;"><span>Link</span></a>]
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endif %}
    </table>
    <script src="" async defer></script>
</body>

</html>