{% extends "home/base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'users/users.css' %}">  
    <div class="card text-center" id="card-login">
        <h1>Login</h1>
        <form method="post">
        {% csrf_token %}

        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" name="username" placeholder="Enter Email" required id="id_username">
            <label for="floatingInput id_username">Email:</label>
        </div>
        <br>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password" required id="id_password">
            <label for="floatingPassword id_password">Password:</label>
        </div>
        <br>
        <button type="submit" class="btn btn-primary mb-3" id="btn-login"><span>LogIn! </span></button>
        <br>
        <br>
            <p>Don't have an account <a href="{% url 'users:signup' %}">Sign Up</a> instead.</p>

        </form>
    </div>
{% endblock content %}  