{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Reset Your Password | BMR</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="limiter">
            <div class="container-login">
                <span>Reset Your Password</span>
                <span>Email Address</span>
                <form class="" action="{% url 'users:password_reset' %}" method="POST">
                    {% csrf_token %}
                    <div class="validate_input" data-validate="Email address is required">
                        <input class="" type="text" name="email">
                    </div>
                    <button class="" type="submit">Request Email</button>
                </form>
            </div>
        </div>
    </body>
</html>