{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Build My Resume</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="limiter">
            <div class="container-login">
                <span>Select New Password</span>

                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="" type="submit">Reset Password</button>
                </form>

                <div class="error-bin">
                    {% if form.non_field_errors %}
                        <ul class='form-errors'>
                            {% for error in form.non_field_errors %}
                                <li class="non-field-errors">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>