body {
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

.contact-card {
    width: 75rem;
    padding-bottom: 2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 2rem;
}
.contact-card .container .row .col-picture img {
    width: 50%;
    height: 50%;
    padding-top: 7rem;
}

.contact-card .container .row .col-form h4 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2rem;
    padding-left: 43%;
    padding-right: 25%;
}

.contact-card .container .row .col-form form {
    padding-left: 2rem;
    padding-right: 2rem;

}

.contact-card .container .row .col-form .contact-form .detail .form-control {
    border: none;
    border-bottom: 2px solid black;
}

.contact-card .container .row .col-form .contact-form button {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: large;
    font-weight: 700;
    margin-top: 2rem;
    border: 1px solid grey;
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3px;
    padding-bottom: 3px;
    background: #1B1A17;
    color: #E6D5B8;
    margin-left: 50%;
    margin-right: 50%;
}


