body {
    background: white;
}

* {
    box-sizing: border-box;
}

.save-data-btn {
    border: None;
    border-radius: 3px;
    background-color: #04AA6D;
    float: right;
    color: white;
    margin: 1rem;
}

.profile-card {
    margin-left: 7rem;
    margin-right: 7rem;
    padding-right: 1rem;
    padding: 2rem;
}

.profile-card .heading-1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}


.basic-personal, .social-info {
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#add-more-certificate {
    border: None;
    border-radius: 1rem;
    padding: 5px;
    margin: 1rem;
    float: right;
}
#delete-certi-btn {
    border: None;
    border-radius: 1rem;
    padding: 5px;
    margin: 1rem;
    float: right;
}

#add-more-project {
    border: None;
    border-radius: 1rem;
    padding: 5px;
    margin: 1rem;
    float: right;
}
#delete-project-btn {
    border: None;
    border-radius: 1rem;
    padding: 5px;
    margin: 1rem;
    float: right;
}

/* footer */
.edit_home_footer {
    color: black;
}