body {
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding:0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: repeating-linear-gradient(white, white 24.9%, #203239 75.1%, #203239 100%);
}

.container {
    margin-top: 5rem;
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.container .cards {
    border-radius: 2rem;
    position: relative;
    width: 300px;
    height: 400px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .cards:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, .1);
    z-index: 20;
    pointer-events: none;
}
.container .cards:nth-child(1),
.container .cards:nth-child(1) .overlay {
    background-image: linear-gradient( 180.4deg,  rgba(188,120,236,1) -2.2%, rgba(29,133,163,1) 83.5% );

}

.container .cards:nth-child(2),
.container .cards:nth-child(2) .overlay {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.container .cards:nth-child(3),
.container .cards:nth-child(3) .overlay {
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.container .cards .imgBx {
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container .cards .imgBx h2 {
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.container .cards .overlay {
    position:absolute;
    bottom: 20px;
    right: 20px;
    width:50px;
    height: 50px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    cursor: pointer;
    border-radius: 50%;
    transition: 0.5s;
}

.container .cards .overlay:hover {
    bottom: 0;
    right:0;
    width: 100%;
    height: 100%;
    box-shadow: none;
    opacity: 0.9;
    border-radius: 0;
}

.container .cards .overlay:before {
    content: 'Read';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: 0.5s;
    
}

.container .cards .overlay:hover:before {
    display: none;
    transition-delay: 0s;
}

.container .cards .content {
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: 0s;
    color: #fff;
}

.container .cards .overlay:hover ~ .content {
    opacity: 1;
    visibility: visible;
    transition: 0.2s;
    transition-delay: 0.5s;
}

.container .cards .content h2 {
    margin: 0;
    padding: 0;
}

#title-pij {
    font-family: 'Courier New', Courier, monospace;
    color: #1A1A40;
    font-weight: 700;
    padding-top: 3rem;
    padding-bottom: 0rem;
    padding-left: 8rem;
}