/* Style-NAVBAR */
#nav-title {
    color:black;
    font-weight: 500;
    padding-left: 2rem;
}

#nav-title:hover {
    color: #1C0C58
}

#navbar-links {
    color:black;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

#navbar-links:hover {
    text-decoration: underline;
    color:orangered;
}


.btn-hover {
    float: right;
    width: 60px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

/* FOOTER */
.footerCol {
    padding: 50px 0;
    text-align: center;
  }
  .socialCol li {
    display: inline-block;
  }
  .socialCol li + li {
    padding-left: 35px;
  }
  .socialCol img {
    max-width: 30px;
    max-height: 30px;
    -o-object-fit: contain;
    object-fit: contain;
  }
  .copyrightCol {
      padding: 20px 0 0;
    font-size: 14px;
  }
  .copyrightCol p {
      margin: 0;
  }
